<div [ngClass]="{'offline': isOffline }">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="assets/images/surfer-48.png" alt="Logo"></a>
      <a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
        <li><a href="#">A Link that does not nothing</a></li>
        <li><a href="#">A Link that does not nothing</a></li>
        <li><a href="#">A Link that does not nothing</a></li>
      </ul>
      <ul class="side-nav" id="side-nav">
        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
        <li><a href="#">A Link that does not nothing</a></li>
        <li><a href="#">A Link that does not nothing</a></li>
        <li><a href="#">A Link that does not nothing</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <my-snackbar [message]="snackMessage" [isVisible]="isVisible"></my-snackbar>
</div>
