<div class="row">
  <div class="col s6 m4 l3">
    <div class="card">
      <div class="card-image">
          <video *ngIf="!showErrorMessage" id="video" autoplay class="responsive-video"></video>
          <span *ngIf="showErrorMessage">Video cannot be displayed</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red hoverable"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>You lookin' good</p>
      </div>
    </div>
  </div>
</div>