<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel orange lighten-4">
        <div>
          <div class="col s12">Push Notifications</div>
          <span class="switch">
        <label>
          Unsubscribed
          <input (click)="toggleSubscription($event)" [checked]="isSubscribed" (change)="isSubscribed = !isSubscribed" [disabled]="isSubscriptionDisabled" id="subscribe" type="checkbox">
          <span class="lever"></span> Subscribed
          </label>
          </span>
        </div>
        <div *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>